################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudC#DaoSqlClient/CRUD/.vs/CRUD
