<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
  <connectionStrings>
    <add name="CRUD.DATA.Properties.Settings.ConexionStringBandas"
      connectionString="Data Source=localhost;Initial Catalog=dB_BANDAS;Persist Security Info=True;User ID=sa;Password=1a2b3c4d"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>